body{
    background-image: url('../img/background.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  
  .jumbotron{
      position: relative;
      background-color: rgb(185, 196, 200);
      color: rgb(0, 0, 0);
      text-align: center;
  }
  .content {
      color: rgb(255, 255, 255);
      min-height: 50vh;
      padding: 2em;
  }
  
  .footer{
  
      background-color:   rgb(255, 255, 255);
      min-height: 2vh;
      padding: 2em;
      margin-top: 2em;
  }
  
  .carousel {
    margin: auto;
  }
  
  .jumbotron{
    height:100%;
    width:100%;
  }
  
  .responsive {
    width: 100%;
    height: auto;
  }

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar a:hover {
    background-color: #000;
  }
  
.active {
    background-color: #4CAF50;
  }
  
@media screen and (max-width: 500px) {
.navbar a {
      float: none;
      display: block;
    }
  }

