  .body{
    background-image: url('./img/background.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  
  .jumbotron{
      position: relative;
      background-color: rgb(185, 196, 200);
      color: rgb(0, 0, 0);
      text-align: center;
  }
  .content {
      background-color: #495762;
      min-height: 50vh;
      padding: 2em;
  }
  
  .footer{
  
      background-color: rgb(255, 255, 255);
      min-height: 2vh;
      padding: 2em;
      margin-top: 2em;
  }
   
  .responsive {
    width: 100%;
    height: auto;
  }  

  .navbar {
    width: 100%;
    background-color: rgb(38, 45, 51);
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #495762;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  @media screen and (max-width: 500px) {
  .navbar a {
      float: none;
      display: block;
    }
  }

  .div {
    padding: 70px;
    border: 1px solid #4CAF50;
  }

  .image {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .product_wrapper {
    float:left;
    padding: 10px;
    text-align: center;
    }
  .product_wrapper:hover {
    box-shadow: 0 0 0 2px #e5e5e5;
    cursor:pointer;
    }
  .product_wrapper .name {
    font-weight:bold;
    }
  .product_wrapper .buy {
    text-transform: uppercase;
    background: #F68B1E;
    border: 1px solid #F68B1E;
    cursor: pointer;
    color: #fff;
    padding: 8px 40px;
    margin-top: 10px;
  }
  .product_wrapper .buy:hover {
    background: #f17e0a;
    border-color: #f17e0a;
  }
  .message_box .box{
    margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
    }
  .table td {
    border-bottom: #F0F0F0 1px solid;
    padding: 10px;
    }
  .cart_div {
    float:right;
    font-weight:bold;
    position:relative;
    }
  .cart_div a {
    color:rgb(255, 255, 255);
    }	
  .cart_div span {
    font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    }
  .cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
    }
  .cart .remove:hover {
    text-decoration:underline;
    }
